# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# BEDLAM2
# Ground trajectory masks
tools/sequence_generation/images/

# Unreal Project (except for plugin directory)
unreal/cloth_simulation/cloth_simulation/.vs/
unreal/cloth_simulation/cloth_simulation/Binaries/
unreal/cloth_simulation/cloth_simulation/Config/
unreal/cloth_simulation/cloth_simulation/Content/
unreal/cloth_simulation/cloth_simulation/DerivedDataCache/
unreal/cloth_simulation/cloth_simulation/Intermediate/
unreal/cloth_simulation/cloth_simulation/Saved/
unreal/cloth_simulation/cloth_simulation/Source/
unreal/cloth_simulation/cloth_simulation/.vsconfig
unreal/cloth_simulation/cloth_simulation/cloth_simulation.sln
unreal/cloth_simulation/cloth_simulation/cloth_simulation.uproject